.choose-interests {
  .choose-interests__content-top {
    h1 {
      color: #3f414e;
      font-size: 28px;
      font-weight: normal;
      line-height: 38px;

      strong {
        display: block;
        font-size: 28px;
      }
    }

    p {
      color: #a1a4b2;
      font-size: 16px;
      line-height: 22px;
      margin-top: 11px;
    }
  }
}
